.table_container {
  border-collapse: collapse;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  page-break-after: always;
}

.check_container {
  border: 3px solid #0085ff;
  border-radius: 10px;
  padding: 24px 3px 3px 3px;
  display: flex;
  align-items: center;
}

.t_head {
  text-align: left;
  padding: 3px 0;
  font-size: 9px;
  color: #000000;
}

.t_detail {
  text-align: right;
  padding: 3px 0;
  font-size: 9px;
  color: #000000;
}

.tr_bottom_border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
